body{
text-align:center;
background:linear-gradient(darkred,black,darkred);
color:white;
font-family: "Dela Gothic One", sans-serif;
font-weight: 200;
font-style: normal;
}
h1{
background:linear-gradient(darkred,red,darkred);
border:solid silver 2px;
border-radius:7px;
font-size:45px;
}
h2{
border:solid silver 2px;
border-radius:7px;
}
button{
background:linear-gradient(darkred,red,darkred);
border-radius:5px;
border:solid silver 3px;
padding:3px;
color:white;
font-size:13px;
font-family: "Dela Gothic One", sans-serif;
font-weight: 200;
font-style: normal;
}
button:hover{
opacity:0.45;
}
.btn_2{
background:linear-gradient(darkred,red,darkred);
border-radius:5px;
border:solid silver 3px;
padding:6px;
color:white;
font-size:13px;
font-family: "Dela Gothic One", sans-serif;
font-weight: 200;
font-style: normal;
}
.btn_2:hover{
opacity:0.35;
}
a{
font-size:18px;
font-family: "Dela Gothic One", sans-serif;
font-weight: 200;
font-style: normal;
}
a:hover{
opacity:0.45;
}
summary{
font-family: "Dela Gothic One", sans-serif;
font-weight: 200;
font-style: normal;
list-style:none;
}
summary:hover{
opacity:0.3;
}
input[type="text"]{
 background:linear-gradient(darkred,red,darkred);
 color: white;
 font-family: "Dela Gothic One", sans-serif;
 font-weight: 200;
 font-style: normal;
}
input::placeholder{
 background:linear-gradient(darkred,red,darkred);
 color: white;
 font-family: "Dela Gothic One", sans-serif;
 font-weight: 200;
 font-style: normal;
}
